@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyVisits">My Visits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Clinic" asp-action="Index">Clinics</a>
                </li>
            </ul>
        }

    </ul>
